<!-- Toolbar -->
<app-toolbar (showNavbar)="showNavBar = $event"></app-toolbar>
<!-- End Container -->

<mat-sidenav-container class="main--block" [hasBackdrop]="isMobile.matches">
  <mat-sidenav
    #drawer
    [opened]="showNavBar"
    class="example-sidenav"
    [mode]="isMobile.matches ? 'over' : 'side'"
    [class.open-nav]="!showNavBar"
  >
    <app-navigation
      [showIconOnly]="!showNavBar && !isMobile.matches"
    ></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content [class.open-nav-content]="!showNavBar">
    <div class="dashboard--block">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
